<?xml version='1.0' encoding='utf-8'?>
<widget id="tiser.me/ufo-surfer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="tiser.me/ufo-surfer/1.0">
  <name>UFO Surfer</name>
  <description>
      UFO Surfer game.
  </description>
  <author email="toss35@ua.fm" href="www.tiser.me">
      Apache Cordova Team
  </author>
  <content src="index.html" />

  <platform name="android">
      <allow-intent href="market:*" />
  </platform>

  <icon src='icon.png' />

</widget>